<div class='cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>

  <main role='main' class='inner cover'>
    <img src='/img/logocol.png' width='200' height='150' alt='' /><br /><br />
    <h1 class='cover-heading'>Welcome to Student Management System.</h1>
    <p class='lead'></p>
    <p class='lead'>
      <a href='/users/signin' class='btn btn-lg btn-success'>Sign in</a>
      <a href='/users/signup' class='btn btn-lg btn-secondary'>Create an account</a>
    </p>
  </main>

</div>